{{>home}}
<nav>
    <div class="teal accent-4 z-depth-4 nav-wrapper">
      <a id="logo" href="#" class="brand-logo">Edubirdy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/profile/{{user.uid}}/settings/">Settings<i class="material-icons left"> settingss</i></a></li>
      </ul>
    </div>
  </nav>

        <h2 id="logo" style="font-weight: bold;" class="teal-text">Edubirdy Profile</h2>



<style>
  
@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
  font-family: 'Pacifico'
}
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75ch;
}
</style>
 

 
         
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Element Showed -->
  <div class="fixed-action-btn">
  <a class="pulse btn-floating btn-large blue">
    <i class=" large material-icons">menu</i>
  </a>
  <ul>
    <li><a href="/authenticated/create/create_shool" class="btn-floating red"><i class="material-icons">mode_edit</i></a></li>
    <li><a href="#modal1" id="info" class="btn-floating btn-medium yellow darken-1"><i class="material-icons">info</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  
<script>

 

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.modal').modal();

  });
</script>
<style>

    body {
        text-align: center;
    }
</style>
    </body>
</html>