{{>home}}
    
<style>
  
@import url('https://fonts.googleapis.com/css?family=Pacifico');
#logo {
  font-family: 'Pacifico'
}

.main_block {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 100px;
}

@media only screen and (max-width: 1340px) {

    .main_block {
      width: 100%;
    }
}

#change_button {
       display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 30px;
    width: 40%;
  }
</style>
  <nav>
    <div class="teal accent-4 z-depth-4 nav-wrapper">
       <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a id="logo" href="#" class="brand-logo">Edubirdy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/home"><i class="material-icons left">home</i>Home</a></li>
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/authenticate/sign_up"><i class="material-icons left">add</i>Create School</a></li>
        <li><a style="font-weight: bold" class="grey-text text-lighten-3" href="/edubirdy/contact"><i class="material-icons left">contacts</i>Profile</a></li>
      </ul>
    </div>
  </nav>


   <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
    </div></li>
    <li><a href="#!"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#!"><i class="material-icons">add</i>Create School</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Other</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
 



<h1 style="font-weight: bold" id="logo" class="teal-text center-align">Settings</h1>

<div class="main_block z-depth-3">
  <div class="row ">
    <div class="col s12 ">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#edit_information">Edit Profile</a></li>
        <li class="tab col s3"><a href="#change_password">Change Password</a></li>
        <li class="tab col s3"><a href="#test3">Security and privacy</a></li>
        <li class="tab col s3"><a href="#test4">contacts</a></li>
      </ul>
    </div>
    <div id="edit_information" class="col s12">
       
          <div class="row">
        <div class="input-field col s12">
          <input disabled value="{{data.email}}" id="disabled" type="text" class="validate">
          <label for="disabled">email: </label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <input disabled value="{{data.name}}" id="disabled" type="text" class="validate">
          <label for="disabled">name: </label>
        </div>
      </div>
         <div class="row">
        <div class="input-field col s12">
          <input disabled value="{{data.password}}" id="disabled" type="text" class="validate">
          <label for="disabled">password: </label>
        </div>
      </div>
    </div>
   
       
         
    
    <div id="change_password" class="col s12">
     
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="current_password" type="text" class="validate">
          <label for="icon_prefix">Current Password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">add</i>
          <input id="new_password" type="tel" class="validate">
          <label for="new_password">New Password</label>
        </div>
          <div class="input-field col s12">
          <i class="material-icons prefix">check</i>
          <input id="confirm_password" type="tel" class="validate">
          <label for="confirm_password">Confirm Password</label>
        </div>
      </div>
    
    </form>
      <button id="change_button" class="btn teal black-text accent-3" style="border-radius: 20px; font-weight: bold">Change</button>

      
  </div>
      
      </div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<script>   
  
    $(document).ready(function() {
        $('.tabs').tabs();
        $('.sidenav').sidenav();
    })
  
    var config = {
    apiKey: "AIzaSyBNo2Ht5eM9m4AqXIEBJwEPFU8yiQL81Uc",
    authDomain: "edubirdie-1534842942940.firebaseapp.com",
    databaseURL: "https://edubirdie-1534842942940.firebaseio.com",
    projectId: "edubirdie-1534842942940",
    storageBucket: "edubirdie-1534842942940.appspot.com",
    messagingSenderId: "1077918538165"
    };

    firebase.initializeApp(config);

    let db = firebase.firestore();

    let changeButton = document.getElementById("change_button");
    let newPassword = document.getElementById("new_password");
    let confirmPassword = document.getElementById("confirm_password");
    let currentPassword = document.getElementById("current_password");


    changeButton.addEventListener('click', () => {
      if (newPassword.value != "" && confirmPassword.value != "" && currentPassword.value != "") {
          db.collection()
      } else {
         M.toast({html: 'please can you fill in the field!'})
      }
    })
</script>
</body>
</html>


