{{>home}}

<style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
    h1 {

    }
    #logo {
        font-family: 'Pacifico';
    }
  .signUpForm {
      margin-left: 10%;
      margin-right: 10%;
      border-radius: 30px;

    }


  html {
    background-image: url(https://cdn.hipwallpaper.com/i/70/22/P1Nzdt.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
</style>
<h1 class="teal-text text-accent-2 text-lighten-3 center-align"> Contact <strong id="logo">Edubirdy</strong></h1>

 
 </body>
</html>