{{>home}}
<style>
    /* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

</style>

{{!-- <h1>Become An Educator</h1> --}}

 <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a style="font-size: 48px" id="logo-container" href="#" class="logo teal-text brand-logo">Edu-Ezi</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="blue-text" href="#">Home<i class="material-icons left">home</i></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/">Home<i class="material-icons left">home</i></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text text-lighten-2">Become An Educator</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <button id="get_started_as_educator" class=" waves-effect pulse btn-large blue lighten-1">Get Started Today!</button>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/dark-blue-tech-circuit-board-technology-animated-background-video-graphic-design-ultra-hd-4k-3840x2160_sgelpuywg_thumbnail-full05.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">money</i></h2>
            <h5 class="center">Earn Money</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Create your digital community</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://wallpaperplay.com/walls/full/c/0/a/100294.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us?</h4>
          <p class="left-align light">

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input  id="email" type="email" class="validate">
          <label for="email">Your Email</label>
        </div>
        <div class="input-field col s12">
          <input id="message" type="text" class="validate">
          <label for="message">Your Message</label>
        </div>
      </div>
    <button type="submit" class="btn teal z-depth-3">Submit</button>
    </form>
  </div>
        </p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://wallpaperaccess.com/full/211093.jpg" alt="Unsplashed background img 3"></div>
  </div>
{{!-- 
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer> --}}


  <!--  Scripts-->
    <p id="user_id" style="display: none;">{{user_id}}</p>
    <p id="first_name" style="display: none;">{{first_name}}</p>
    <p id="last_name" style="display: none;">{{last_name}}</p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
  
  {{!-- Script to add and initialize user as an educator --}}
  <script>
  var config = {
    apiKey: "AIzaSyBNo2Ht5eM9m4AqXIEBJwEPFU8yiQL81Uc",
    authDomain: "edubirdie-1534842942940.firebaseapp.com",
    databaseURL: "https://edubirdie-1534842942940.firebaseio.com",
    projectId: "edubirdie-1534842942940",
    storageBucket: "edubirdie-1534842942940.appspot.com",
    messagingSenderId: "1077918538165"
  };
  firebase.initializeApp(config);
    
  let db = firebase.firestore();
  let user_id = document.getElementById("user_id");
  let first_name = document.getElementById("first_name");
  let last_name = document.getElementById("last_name");  

  db.collection("educators")
    .doc(user_id.textContent)
    .set({
        first_name: first_name.textContent,
        last_name: last_name.textContent
    }).then(function(doc) {
        db.collection("users")
          .doc(user_id.textContent)
          .update({
              educator: true
          }).then(function(doc) {
              M.toast("You are now an educator!")
              location.
          }).catch(function(error) {
            M.toast({ html: 'An error has occured. Please Try Again!' })
          })
    }).catch(function(error) {
          M.toast({ html: 'An error had occured. Please Try Again!' })
    })

    </script>


    
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.parallax').parallax();
        $('.modal').modal();
    });
</script>


  </body>