{{>home}}

<style>
    .icon-block {
        padding: 0 15px;
    }

    .icon-block .material-icons {
        font-size: inherit;
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="navbar-fixed">

    <nav style="opacity: 1.0" class="blue accent-5" role="navigation">
        <div class=" nav-wrapper container">
            <a style="font-size: 32px" id="main-logo logo-container" href="#" class=" white-text brand-logo"><strong
                    class="logo">Edu-Ezi</strong></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="white-text" href="#">Log in<i class="material-icons left">portrait</i></a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/">Home<i class="material-icons left">home</i></a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<div class=" cyan accent-4 section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h2 class="header left-align white-text">Make your classroom modern with <strong class="logo">Edu-Eezi</strong></h2>
        <div class="row left-align">
            {{#if authed}}
            <a id="download-button" class="left-align pulse btn-large white blue-text accent-4" href="/school_intro/getting_start">
                Get Started</a>
            {{else}}
            <button id="download-button" class="left-align pulse btn-large white blue-text accent-4 modal-trigger"
                data-target="authenticationModal">
                Get Started</button>
            {{/if}}

            <a class="btn-large white blue-text accent-5 ">Get Help<i class="material-icons left">
                    help_outline
                </i></a>
        </div>

        <br><br>

    </div>
</div>

<!-- Modal Structure -->
<div id="authenticationModal" class="modal">
    <div class="modal-content">
        <h4 class="center-align teal-text">Sign up with Edu-eezi</h4>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s6"><a href="#signUp">Sign Up</a></li>
                    <li class="tab col s6"><a href="#signIn">Sign In</a></li>
                </ul>
            </div>
            <div class="z-depth-2" id="signUp" class="col s12">
                {{!-- Sign Up tab --}}
                <h2 class="teal-text logo center-align">
                    Sign Up
                </h2>
                <div class="row">

                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="First name" name="SignUpFirstname" id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" name="SignUpLastname" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>

                    <input id="birthdate" name="birthdate" type="text" class="datepicker">
                    <label for="birthdate">Birth Date</label>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="signUpPassword" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="signUpEmail" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <button style="border-radius: 2px" class="blue waves-effect waves-light btn z-depth-1">Sign Up<i
                                class="material-icons left">email</i></button>
                        <div style="margin-top: 20px;" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    </div>



                </div>
            </div>

            <script src="https://www.gstatic.com/firebasejs/5.8.1/firebase.js"></script>
            <script>

                let first_name, last_name, birthdate, password, email;
                // Initialize Firebase
                var config = {
                    apiKey: "AIzaSyAJ4JH6ULCvmsxtaPRbNaUBeoAGIag7oMg",
                    authDomain: "edueezi.firebaseapp.com",
                    databaseURL: "https://edueezi.firebaseio.com",
                    projectId: "edueezi",
                    storageBucket: "edueezi.appspot.com",
                    messagingSenderId: "450061088039"
                };
                firebase.initializeApp(config);

                let db = firebase.firestore();

                first_name = document.getElementById("first_name");
                last_name = document.getElementById("last_name");
                birthdate = document.getElementById("birthdate");
                password = document.getElementById("password");
                email = document.getElementById("email");

                //TODO: add conditionals for form 
                //Perform authentication sign up
                
                //Add (is_school_account) = true;
                db.settings({
                    timestampsInSnapshots: true
                });

                firebase.auth().createUserWithEmailAndPassword(email, password).then(user => {

                    let docref = db.collection("users").doc(user.uid);

                    //Set document data
                    docref.set({
                        name: username,
                        first_name: first_name,
                        last_name: last_name,
                        email: email,
                        password: password,
                        birthdate: birthdate,
                        user_id: user.uid,
                    }).then(function () {
                        //Successfully signed the user up
                         M.toast({ html: "Successfully Signed Up!" })
                         //Redirect to school introduction
                         window.location.pathname = '/school_intro/getting_start'
                    }).catch((error) => {
                        //Error occured// log error.
                        console.log(error.message);
                        M.toast({ html: error.message })
                    })


                }).catch(function (error) {
                    //function errors
                    var error_code = error.code;
                    var error_message = error.message;


                }); 
            </script>
            <div class="z-depth-2" id="signIn" class="col s12">
                {{!-- Sign In tab --}}
                <h2 class="teal-text logo center-align">
                    Sign In
                </h2>
                <div class="row">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" name="signInPassword" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" name="signInEmail" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div style="text-align: center">
                        <button style="border-radius: 2px" class="blue waves-effect waves-light btn z-depth-1">Sign In<i
                                class="material-icons left">email</i></button>
                        <div style="margin-top: 20px;" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">timeline</i></h2>
                    <h5 class="center">Track Students Progress</h5>

                    <p class="light">With Edu-eezi it is extremely easy to create lessons and track who has and hasn't
                        seen the lessons, the scores they get on quizzes, how long they've watched the lessons for and
                        the average of how well students are doing! With the dashboard you can easily view who needs
                        work,who doesn't & each students individual progress!</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">school</i></h2>
                    <h5 class="center">how the schools work</h5>

                    <p class="light">It takes less than <strong>5 minutes</strong> to add your school into the
                        application, you can invite different users to the school as they'll obtain a code to enter
                        into the school, schools have so many different
                        <strong>customizablity</strong> options allowing classes, grades and the use of admin rights to
                        allow only

                        teachers to upload lessons to the school!</p>
                </div>
            </div>

            <div class="col s12 m12">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">sentiment_very_satisfied</i></h2>
                    <h5 class="center">communication</h5>


                    <p class="light">With your school there are many communication options as there are built-in chats
                        in the school, in lessons, classes, and the school itself! Now communication has been made a
                        breeze!</p>
                </div>

            </div>
            <div class="center-align">
                <a class="btn blue accent-5 white-text">Watch the video<i class="material-icons left">
                        play_circle_outline
                    </i></a>

            </div>

        </div>

    </div>
    <br><br>
</div>

<footer class="page-footer  cyan accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text logo">Edu-Eezi</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">About Us</a></li>
                    <li><a class="white-text" href="#!">Creator</a></li>
                    <li><a class="white-text" href="#!">Terms Of Service</a></li>
                    <li><a class="white-text" href="#!">Guidelines</a></li>
                    <li><a class="white-text" href="#!">Help Center</a></li>
                    <li><a class="white-text" href="#!">Lessons</a></li>
                    <li><a class="white-text" href="#!">Uploading</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Contact us</a></li>
                    <li><a class="white-text" href="#!">Meet the creator</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.tabs').tabs()
        $('.datepicker').datepicker();
    })
</script>