<!DOCTYPE html>


<html lang="en">

<head>

  <title>Edu-Eezi</title>
  <meta name="google-signin-client_id" content="1077918538165-nsm2c3decrgrbt0q8jkt1hi6fkbhg7nu.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5364354586447767",
      enable_page_level_ads: true
    });
  </script>
  
</head>

<body>

  <style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
      .logo {
        font-family: 'Pacifico'
      }
  </style>

 <style>
     @media only screen and (min-width: 769px) {
        header,  nav, .row, main, footer {
      padding-left: 300px;
    }
    }
      

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
          
      .tabs .tab a{
            color:#000;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#eee;
            color:#000;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#888;
            color:#000;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#000;
        } /*Color of underline*/
</style>

<nav>
    <div class="teal nav-wrapper">
        <a href="#" data-target="slide-out" class="hide-on-medium-and-up sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="#" class="logo brand-logo">Edu-Eezi</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home<i class="material-icons left">home</i></a></li>
            <li><a href="/search">Search<i class="material-icons left">search</i></a></li>
            <li><a href="/authenticated/create_school/create/">Create School<i class="material-icons left">add</i></a></li>
            <li><a href="#!">Record Lesson<i class="material-icons left">camera</i></a></li>
            <li><a href="collapsible.html">notifications<i class="material-icons left">messages</i></a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="teal lighten-1 sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/videoblocks-blue-glowing-lines-loopable-technology-background-4k-uhd-3840x2160_rpboetz1yz_thumbnail-full01.png">
            </div>
            <a href="#user"><img class="circle" src="https://images8.alphacoders.com/712/712496.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a class="white-text" href="/edu-eezi/educator/dashboard/home"><i class="white-text material-icons">home</i>Home</a></li>
    <li><a class="white-text" href="#!"><i class="white-text material-icons">portrait</i>Profile</a></li>
    <li><a class="white-text" href="#!"><i class="white-text material-icons">search</i>Search</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader white-text">Pages</a></li>
    <li><a class=" white-text" href=""><i class="white-text material-icons">attach_money</i>Monetization</a></li>
    <li><a class=" white-text" href="/edu-eezi/educator/dashboard/Lessons"><i class="white-text material-icons">cast</i>Lessons</a></li>
    <li><a class="white-text" href="/edu-eezi/educator/dashboard/Revenue"><i class="white-text material-icons">money</i>Revenue</a></li>
    <li><a class="white-text" href="/edu-eezi/educator/dashboard/UploadLesson"><i class="white-text material-icons">publish</i>Upload Lesson</a></li>
    <li><a class=" white-text" href="/edu-eezi/educator/dashboard/LessonBundles"><i class="white-text material-icons">collections</i>Lesson Bundles </a></li>
    <li><a class="subheader white-text">Account</a></li>
    <li><a class=" tab side white-text" href="/edu-eezi/educator/dashboard/Settings"><i class="white-text material-icons">settings</i>Settings</a></li>
    <li><a class=" tab side white-text" href="/edu-eezi/educator/dashboard/Settings"><i class="white-text material-icons">announcement</i>Chats</a></li>
    <li><a class="subheader white-text">Educator </a></li>
    <li><a class=" white-text" href="#!"><i class="white-text material-icons">school</i>Schools </a></li>
    <li><a class="white-text" href="#!"><i class="white-text material-icons">message</i>Send Feedback</a></li>
    <li><a class=" white-text" href="#!"><i class="white-text material-icons">info</i>Help</a></li>
</ul>

